@import '../../index.scss';

.item-pic{
    display: flex;
    flex-direction: row;
    $img-size: 175px;
    img{
        position: relative;
        margin: 3px;
        width: $img-size;
        height: $img-size;
        border-radius: 5px;
    }
    // @include flex(3);

    .col{
        display: inline-block;
        text-align: left;
        height: $img-size;
        font-size: 18px;
        margin: 5px 5px 5px 10px;
        &> span{
            position: relative;
            top: 40px;
            right: 62px;
        }
        &> div{
            margin-bottom: 20px;
            
        }
    }
}
.rating{
    display: inline-block;
    margin: 0px 10px;
    height: 40px;
    width: 40px;
    border: 2px solid orange;
    border-radius: 100%;
    &> span{
        position: relative;
        top: 8px;
        left: 16px;
    }
}
.box{
    display: flex;
    position: relative;
    bottom: 2px;
    padding: 5px;
    border: 1.5px solid rgb(196, 201, 206);
    border-radius: 5px;
    flex-flow: row nowrap;
    $border: 1px solid #c5bebe;
    &> .start{
        // height: 20px;
        padding-right: 4px;
        border-right: $border;
    }
    &> .end{
        // height: 20px;
        padding-left: 2px;
        border-left: $border;
    }
}
